@import 'clearfix';

$primary-color: green;
pre {
	margin: 0 !important;
	font-size: 11px;
}
.deck {

}

.column {

}
.json {
	width: 400px;
	float: left;
}

.html {
	margin-left: 400px;
	margin-right: 400px;
}

.css {
	width: 400px;
	float: right;
}