@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  margin: 0 !important;
  font-size: 11px;
  background: #FFF !important;
  padding: 20px;
  border: 1px solid #CCC;
  clear: both;
}

body {
  background: #EAEAEA;
  font-family: "Open Sans", "arial";
  font-weight: 400;
}

div {
  box-sizing: border-box;
}

.middle {
  text-align: center;
  border-bottom: 1px solid #CCC;
  padding: 40px;
}

.code {
  background: #FFF;
}

.code:after {
  content: "";
  display: table;
  clear: both;
}

.deck {
  width: 1024px;
  margin: 0 auto;
}

.code-column form {
  float: right;
  margin-bottom: 20px;
}

.code-column h3 {
  font-weight: 700;
  color: red;
}

.json {
  padding: 20px;
  width: 33.333%;
  float: left;
  background: #FFF;
}

.html {
  padding: 20px;
  background: #FFF;
  width: 33.333%;
  float: left;
}

.css {
  padding: 20px;
  background: #FFF;
  width: 33.333%;
  float: left;
}

.header {
  background: #FFF;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #CCC;
  box-shadow: 1px 1px 6px #CCC;
}

.header a.logo {
  text-decoration: none;
  text-transform: uppercase;
}

.header form {
  display: inline-block;
  float: right;
}

.logo {
  color: red;
}
