@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
pre {
  margin: 0 !important;
  font-size: 11px;
  background: #FFF !important;
  padding: 20px;
  border: 1px solid #CCC;
  clear: both; }

body {
  background: #EAEAEA;
  font-family: "Open Sans", "arial";
  font-weight: 400; }

div {
  box-sizing: border-box; }

.middle {
  border-bottom: 1px solid #CCC;
  padding: 40px; }

.code {
  background: #FFF; }

.demo h2.demo-heading {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; }

.code-column form {
  float: right;
  margin-bottom: 20px; }

.code-column h3 {
  font-weight: 700;
  color: red; }

.json {
  padding: 20px;
  width: 33.333%;
  float: left;
  background: #FFF; }

.html {
  padding: 20px;
  background: #FFF;
  width: 33.333%;
  float: left; }

.css {
  padding: 20px;
  background: #FFF;
  width: 33.333%;
  float: left; }

.header {
  background: #FFF;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #CCC;
  box-shadow: 1px 1px 6px #CCC; }
  .header a.logo {
    text-decoration: none;
    text-transform: uppercase; }
  .header form {
    display: inline-block;
    float: right; }

.logo {
  color: red; }
