<!DOCTYPE html>
    <head>

        <link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism.css">
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="bower_components/spinkit/css/spinkit.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link class="css" rel="stylesheet" type="text/css" href="library/library.css">
        
        <script type="text/javascript" src="bower_components/handlebars/handlebars.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        
        <script src="js/main.js"></script>
        <script src="js/template-populate.js"></script>
        <script src="js/template-builder.js"></script>
        <script src="js/template-selector.js"></script>
        <script src="js/handlebars-helpers.js"></script>
        <script src="js/code-highlight.js"></script>

    </head>
    <body>

    <% include header %>
    
    <div class="middle">
        <div class="demo">
        <h2 class="demo-heading">Airbnb Teaser</h2>
            <div class="labels">
                <span class="label active">Teaser</span>
                <span class="label">Full</span>
                <span class="label">Row</span>
            </div>
            <div class="deck">  
                Deck
            </div>
        </div>
    </div>

    <div class="code">
        <div class="json code-column">
            <form>
                <select id="json-selector">
                
                </select>
            </form>
            <h3>JSON</h3>
            <pre><code class="language-javascript"></code></pre>
        </div>
        
        <div class="html code-column">
            <form>
                <select id="html-selector">
                
                </select>
            </form>
            <h3>HTML</h3>
            <pre data-src="library/issue/issue.html"></pre>
        </div>

        <div class="css code-column">
            <form>
                <select id="css-selector">
                
                </select>
            </form>
            <h3>CSS</h3>
            <pre data-src="library/issue/issue.css"></pre>
        </div>
    </div>


    <script src="bower_components/prism/prism.js"></script>

    </body>
</html>