/* ==========================================================================
   Column
   ========================================================================== */

@mixin column($column, $column-padding:0) {
  @include clearfix;
  box-sizing: border-box;
  @include desktop-xl {
    $width: ($column * $desktopxl-column-width) + ($column * $desktopxl-gutter) - ($desktopxl-gutter) * 1;
    width: $width;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: $desktopxl-gutter * 1;
    margin-bottom: $desktopxl-gutter * 1;
  }
  @include desktop {
    $width: ($column * $column-width) + ($column * $gutter) - ($gutter) * 1;
    width: $width;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: $gutter * 1;
    margin-bottom: $gutter * 1;
  }
  @include ipad {
    $width: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1;
    width: $width;
    display: inline-block;
    float: left;
    position: relative;
    margin-right: $ipad-gutter * 1;
    margin-bottom: $ipad-gutter * 1;
  }
  @include mobile {
    width: auto;
    display: block;
    float: none;
    position: relative;
  }
}

@mixin last($position) {
  &:nth-of-type(#{position}n + 0) {
    margin-right: 0;
  }
}

// @mixin last() {
//   margin-right: 0 !important;
// }


@mixin offset($column)
{
  @include desktop-xl {
    margin-right: ($column * $desktopxl-column-width) + ($column * $desktopxl-gutter) - ($desktopxl-gutter) * 1;
  }
  @include desktop {
    margin-right: ($column * $column-width) + ($column * $gutter) - ($gutter) * 1;
  }
  @include ipad {
    margin-right: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1;
  }
  @include mobile {
    width: auto;
    display: block;
    float: none;
    position: relative;
  }
}