/* ==========================================================================
   Grid Variables
   ========================================================================== */
$column-width: 76px;
$columns: 12;
$gutter: 14px;
$column-fullwidth: ($columns * $column-width) + ($columns * $gutter) - ($gutter)  * 1;
$column-size: ($column-width + $gutter);

/* ==========================================================================
   Desktop XL Grid Variables
   ========================================================================== */
$desktopxl-column-width: 90px;
$desktopxl-columns: 12;
$desktopxl-gutter: 14px;
$desktopxl-column-fullwidth: ($columns * $desktopxl-column-width) - ($desktopxl-gutter) * 1;


/* ==========================================================================
   Ipad Grid Variables
   ========================================================================== */
$ipad-column-width: 60px;
$ipad-columns: 12;
$ipad-gutter: 12px;
$ipad-column-fullwidth: ($columns * $ipad-column-width) * 1;

/* ==========================================================================
   Mobile Grid Variables
   ========================================================================== */
$mobile-gutter: 14px;

@mixin reset {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: block;
    float: none;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
}

@mixin container()
{
  @include clearfix();
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @include desktop-xl {
    $width: ($columns * $desktopxl-column-width) + ($columns * $desktopxl-gutter) - ($desktopxl-gutter)  * 1;
    width: $width;
  }
  @include desktop {
    $width: ($columns * $column-width) + ($columns * $gutter) - $gutter * 1;
    width: $width;
  }
  @include ipad {
    $width: ($columns * $ipad-column-width) + ($columns * $ipad-gutter) - $ipad-gutter * 1;
    width: $width;
  }
  @include mobile {
    padding: $gutter;
  }
}

@mixin grid-container()
{
  position: relative;
    @include desktop-xl {
      margin-left: $desktopxl-gutter * -1;
      float: none;
      display: block;
      clear: both;
      width: auto;
      @include clearfix();
    }
    @include desktop {
      margin-left: $gutter * -1;
      float: none;
      display: block;
      clear: both;
      $width: auto;
      width: $width;
      @include clearfix();
    }
    @include ipad {
      margin-left: $ipad-gutter * -1;
      float: none;
      display: block;
      clear: both;
      width: auto;
      @include clearfix();
    }
    @include mobile {
    @include reset();
  }
}

@mixin grid($column,$column-padding:0)
{
  box-sizing: border-box;
    @include desktop-xl {
      $width: ($column * $desktopxl-column-width) + ($column * $desktopxl-gutter) - ($desktopxl-gutter)  * 1;
      width: $width;
      display: inline-block;
      float: left;
      margin-left: $desktopxl-gutter * 1;
      position: relative;
    }
    @include desktop {
      $width: ($column * $column-width) + ($column * $gutter) - ($gutter) * 1;
      width: $width;
      display: inline-block;
      float: left;
      margin-left: $gutter * 1;
      position: relative;
    }
    @include ipad {
      width: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1;
      display: inline-block;
      float: left;
      margin-left: $ipad-gutter * 1;
      position: relative;
    }
    @include mobile {
      width: auto;
      display: block;
      float: none;
      position: relative;
    }
}

// @mixin grid()
// {
//     @include desktop-xl {
//       margin-left: $desktopxl-gutter * 1;
//       position: relative;
//     }
//     @include desktop {
//       margin-left: $gutter * 1;
//       position: relative;
//     }
//     @include ipad {
//       margin-left: $ipad-gutter * 1;
//       position: relative;
//     }
//     @include mobile {
//       width: auto;
//       display: block;
//       float: none;
//       position: relative;
//       height: auto;
//       margin: 0 auto;
//     }
// }

