
@mixin grid-width($column)
{
    @include desktop-xl {
      width: ($column * $desktopxl-column-width) + ($column * $desktopxl-gutter) - ($desktopxl-gutter)  * 1px;
    }
    @include desktop {
      width: ($column * $column-width) + ($column * $gutter) - ($gutter)  * 1px;
    }
    @include ipad {
      width: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1px;
    }
}


@mixin grid-ipad($column;$column-padding:0;)
{
    box-sizing: border-box;
    @include ipad {
      width: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1px;
      display: inline-block;
      float: left;
      margin-left: $ipad-gutter * 1px;
      position: relative;
    }
}

@mixin grid-ipad-width($column)
{
    @include ipad {
      width: ($column * $ipad-column-width) + ($column * $ipad-gutter) - ($ipad-gutter) * 1px;
    }
}

@mixin padding()
{
    @include desktop-xl {
      padding: round(($desktopxl-gutter * 1)) * 1px;  
    }
    @include desktop {
      padding: $gutter * 1px;
    }
    @include ipad {
     padding: $ipad-gutter * 1px;
    }
    @include mobile {
      padding: $mobile-gutter * 1px;
    }  
}

.node {
    @include desktop-xl {
      //margin-bottom: $desktopxl-gutter * 1px;
    }
    @include desktop {
      //margin-bottom: $gutter * 1px;
    }
    @include ipad {
      //margin-bottom: $ipad-gutter * 1px;
    }
    @include mobile {
      //margin: 0 auto;
      //margin-bottom: $mobile-gutter;
    }  
}


.float-left {
   @include desktop-xl {
      float: left !important;
    }
    @include desktop {
      float: left !important;
    }
    @include ipad {
      float: left !important;
    }
    @include mobile {
      float: left;
    }  
}


.float-right {
   @include desktop-xl {
      float: right !important;
    }
    @include desktop {
      float: right !important;
    }
    @include ipad {
      float: right !important;
    }
    @include mobile {
      float: right;
    }  
}