.demo {
  /* Used only for Deck Demo */
  width: 300px;
  margin: 0 auto;
}

.deck {
  /* Dependancies Overrides */
}

.deck .airbnb {
  width: 300px;
  padding: 10px;
  background: #FFF;
  box-shadow: 1px 1px 4px #CCC;
}

.deck .airbnb:after {
  content: "";
  display: table;
  clear: both;
}

.deck .airbnb-body {
  color: #565a5c;
  font-size: 14px;
}

.deck .airbnb-image {
  position: relative;
}

.deck .airbnb-image img {
  width: 100%;
}

.deck .airbnb-heading {
  font-size: 16px;
  color: #565a5c;
}

.deck .airbnb-price {
  position: absolute;
  bottom: 40px;
  background: #FFF;
}

.deck .airbnb-time {
  display: inline;
  position: absolute;
  font-size: 1.1em;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  top: 1px;
  left: 10px;
}

.deck .airbnb-info {
  color: white;
  width: 100%;
  z-index: 1000;
  line-height: 1.6em;
  font-size: 1.2em;
}

.deck .slick-slider {
  margin-bottom: 10px;
}

.deck .slick-dots {
  position: relative;
  bottom: 0;
}
