// Breakpoints
// ------------------------- Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              "only screen and (min--moz-device-pixel-ratio: 1.5)",
              "only screen and (-o-min-device-pixel-ratio: 3/2)",
              "only screen and (min-device-pixel-ratio: 1.5)";
$mobile:      "only screen and (max-width : 768px)";
$ipad:        "only screen and (min-width : 768px) and (max-width : 1024px)";
$desktop:     "only screen and (min-width : 1024px) and (max-width : 1380px)";
$desktop-xl:  "only screen and (min-width : 1380px)";


@mixin mobile {
  @media only screen and (max-width : 768px){
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width : 768px) and (max-width : 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width : 1024px) and (max-width : 1380px) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width : 1380px) {
    @content;
  }
}

@mixin display-breakpoint {
    &:after {
    background: red;
    color: #FFFFFF;
    opacity: 0.8;
    padding: .5em 1em;
    position: fixed;
    text-align: center;
    bottom: 0;
    right: 0;
    z-index: 999;
    @include mobile {
      background: orange;
      content: "mobile";
    }
    @include ipad {
      background: purple;
      content: "ipad";
    }
    @include desktop {
      background: green;
      content: "desktop";
    }
    @include desktop-xl {
      background: blue;
      content: "desktop-xl";
    }
  }
}
