.demo {
  /* Used only for Deck Demo */
  width: 400px;
  margin: 0 auto;
}

.deck {
  // Template
  @mixin clearfix() {
    &:after {
      content:"";
      display:table;
      clear:both;
    }
  }   
  @mixin text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  .hotel {
    @include clearfix();
    width: 400px;
    padding: 10px;
    background: #FFF;
    box-shadow: 1px 1px 4px #CCCCCC;
  }
  .hotel-header {
    position: relative;
  }

  .hotel-body {
    color: rgba(86, 90, 92, 1.0);
    font-size: 12px;
    overflow: hidden;
  }
  .hotel-roomtype {
    color: rgba(86, 90, 92, 0.8);
    line-height: 20px;
  }
  .hotel-stars {
    line-height: 20px;
  }
  .hotel-rating-count {
    color: rgba(86, 90, 92, 0.8);
    line-height: 20px;
  }
  .hotel-image {
    position: relative;
    img {
      width: 100%;  
    }
  }
  .hotel-heading {
    @include text-truncate();
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(86, 90, 92, 1.0);
    a {
      color: rgba(86, 90, 92, 1.0);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .hotel-price {
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    background: rgba(60,63,64,0.9);
    padding: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    .hotel-price-dollar {
      vertical-align: top;
    }
    .hotel-price-value {
      font-size: 150%;
      line-height: 100%;
      vertical-align: top;
    }
    .hotel-price-currency {
      font-size: 90%;
      vertical-align: top;
    }
  }
  .hotel-time {
    display: inline;
    position: absolute;
    font-size: 1.1em;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 1.0);
    top: 1px;
    left: 10px;
  }
  .hotel-info {
    color: white;
    width: 100%;
    z-index: 1000;
    line-height: 1.6em;
    font-size: 1.2em;
  }

  /* Dependancies Overrides */
  .slick-slider {
      margin-bottom: 0px;
  }
  .slick-dots {
    position: relative;
    bottom: 0;
  }
  .slick-prev {
    z-index: 100;
    top: 90px;
    left: 5px;
    &:before {
      font-family: FontAwesome;
      font-size: 30px;
      content: "\f053";
    }
  }
  .slick-next {
    z-index: 100;
    top: 90px;
    right: 5px;
    &:before {
      font-family: FontAwesome;
      font-size: 30px;
      content: "\f054";
    }
  }
}