@mixin clearfix() {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}   

.hotel {
  @include clearfix();
  width: 300px;
}
.hotel-body {
  color: rgb(86, 90, 92);
  font-size: 14px;
}
.hotel-image {
  img {
    width: 100%;  
  }
}
.hotel-heading {
  font-size: 16px;
  color: rgb(86, 90, 92);
}
.hotel-roomtype {
  
}
.hotel-time {
  display: inline;
  position: absolute;
  font-size: 1.1em;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  top: 1px;
  left: 10px;
}

.hotel-info {
  color: white;
  width: 100%;
  z-index: 1000;
  line-height: 1.6em;
  font-size: 1.2em;
}